@model FinalPersonDocumentViewModel
@{
    ViewData["Title"] = "Create";
}

@section styles{
    <link href="~/Custom/PersonDocument/personDocument.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <section class=" ">
                    <div class="container">
                        <nav class="nav-justified mb-5">
                            <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab" aria-controls="pop1" aria-selected="true">Yeni dil biliyinin daxil edilməsi</a>
                            </div>
                        </nav>
                        <form asp-action="Create" asp-controller="PersonDocument" id="createPersonDocument" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="PersonDocumentViewModel.Id" value="0" />
                            <input type="hidden" asp-for="PersonDocumentViewModel.PersonelId" />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="PersonDocumentViewModel.File"  class="control-label"></label>
                                        <input asp-for="PersonDocumentViewModel.File" id="fileopen" type="file" class="form-control">
                                        <span asp-validation-for="PersonDocumentViewModel.File" class="text-danger"></span>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="PersonDocumentViewModel.DocumentTypeId" class="control-label"></label>
                                        <select asp-for="PersonDocumentViewModel.DocumentTypeId" class="custom-select customers_select select2DropDown " asp-items="ViewBag.DocumentTypeId" required>
                                            <option>      </option>
                                        </select>
                                        <span asp-validation-for="PersonDocumentViewModel.DocumentTypeId" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="justify-content-between mr-0 mt-4 row">
                                <div class="ml-3">
                                    <a asp-action="Index" class="btn btn-outline-secondary  "><i class="fa fa-arrow-left"></i> Cədvələ Geri Dön</a>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class=" form-control border btn btn-outline-secondary btn-save " value="Saxla" />
                                </div>
                            </div>
                        </form>

                        @if (Model.CurrentPerson != null)
                        {
                            <div class=" pt-4 pb-3"><p class="text-center "><b>@Model.CurrentPerson</b></p></div>
                        }
                        <div class="single-table">
                            <div class="table-responsive">

                                <table id="dataTableForCreatePersonDocument" style="width: 100%;" class="table table-hover progress-table text-center">
                                    <thead>
                                        <tr role="row">
                                        <tr>
                                            <th>#</th>
                                            <th>Sənədin adı</th>
                                            <th>Sənədin növü</th>
                                            <th>Nəzər yetir</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.DocumentsForPerson.Count > 0)
                                        {
                                            foreach (var file in Model.DocumentsForPerson)
                                            {
                                        <tr class="@file.Id">
                                            <td><input type="button" data-id="@file.Id" aria-invalid="true" value="Sil" class="btn btn-sm btn-danger deletePersonDocumentFromCreateView" /></td>
                                            <td>@file.Name</td>
                                            <td>@Model.DocumetTypeList.Find(x => x.Id == file.DocumentTypeId).Name</td>
                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/sweetalert/sweetalert.min.js"></script>
    <script src="~/Custom/PersonDocument/personDocument.js" asp-append-version="true"></script>
    <script src="~/Custom/PersonDocument/Select.js"></script>
}


